# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# configuration file of SimpleIDE
SimpleIDE.conf

# Editor and misc backup files - anywhere
*~
.*~
.*.swp
*.bak
*.bak[0-9][0-9]
\#*\#

# File-browser settings - anywhere
.directory

# Backup/recovery versions - anywhere
.#*

# Objects and archives - anywhere
*.[oa]
*.la
*.so

# Packages
*.deb

# --------------------------------------------------------------------------
